@import 'variables.less';

.formGroupState(@borderColor) {
    .form-control {
        border-color: @borderColor;

        &:focus {
            box-shadow: unset;
        }
    }
}

.form-group {
    position: relative;

    input, textarea {
        &.form-control {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    select.form-control {
        color: @gray-light;
        padding-left: 7px;
        padding-right: 7px;
    }

    h2 {
        margin: 0;
    }

    .form-control,
    .form-control-static {
        font-size: 1.2em;
        font-weight: bold;
    }

    .form-control-static {
        background-color: #F6F6F6;
        padding-top: 6px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .form-control {
        border-width: 0 0 2px 0;
        border-color: @gray-lighter;
        outline: 0;
        border-radius: 0;
        box-shadow: unset;
        position: relative;
        z-index: 2;

        &:focus {
            border-color: @brand-primary;
        }
    }

    &.has-success {
        .formGroupState(@brand-success);
    }
    &.has-error {
        .formGroupState(@brand-danger);
    }

    .control-label {
        color: @gray-light;
        font-weight: normal;
        margin-bottom: 0;
        transition: .1s top, .1s opacity;
        transition-timing-function: ease-out;
        position: relative;
        z-index: 1;
        top: 0;

        &.out {
            opacity: 0;
            top: 1em;
        }
    }

    /* animated labels */
    textarea.form-control {
        border-width: 1px 1px 2px 1px;
    }
}

.checkbox {
    padding-left: 10px;

    input {
        top: -1px;
    }
}