@import "variables.less";

.loader-size(@size) {
    line-height: @size;

    .spinner {
        width: @size;
        height: @size;
    }
}

.loader {
    display: block;
    color: #DDD;

    .spinner {
        width: 30px;
        height: 30px;
    }
    .title {
        vertical-align: top;
        display: inline-block;
        font-size: 16px;
        margin-left: 10px;
    }

    .loader-size(30px);

    &.loader-sm { 
        .loader-size(20px);
    }
}

.loader-error {
    display: block;
    color: @state-danger-text;
    margin-bottom: 20px;
  
    > h3 {
        margin-bottom: 10px;
    }
}