@import "./bootstrap/variables.less";

.tab-content {
    padding: @panel-body-padding;
    border-width: 0px 1px 1px 1px;
    border-color: @nav-tabs-border-color;
    border-style: solid;
    border-radius: 0 0 @panel-border-radius @panel-border-radius;
}

.nav-tabs > li.active {
    > a, > a:focus, > a:hover {
        border-bottom-color: white;
        background: linear-gradient(#EEE, white)
    }
}