@import 'variables.less';

.traffic-light {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: @gray-light;
}
.traffic-light-warning {
    background-color: @brand-warning;
}
.traffic-light-primary {
    background-color: @brand-primary;
}
.traffic-light-danger {
    background-color: @brand-danger;
}