@import "./bootstrap/variables.less";

@body-bg: #F6F6F6;
@text-color: #444;
@font-size-base: 12px;
@font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Bootstrap overrides
@gray-light: #999;

@brand-primary:#45B1D8;
@brand-success:#36c129;
@brand-info:   #5bc0de;
@brand-warning:#F1C40F;
@brand-danger: #CC3333;

@text-muted: #BBBBBB;
@state-info-text: @brand-info;
@state-warning-text: @brand-warning;
@state-danger-text: @brand-danger;
@state-success-text: @brand-success;

@list-group-border: @gray-lighter;

@navbar-default-bg: #599AB2;
@navbar-default-border: #4889A0;
@navbar-default-brand-color: #3F6D7E;
@navbar-default-brand-hover-color: darken(@navbar-default-brand-color, 10%);
@navbar-default-link-color: lighten(@navbar-default-bg, 30%);
@navbar-default-link-hover-bg: darken(@navbar-default-bg, 2%);
@navbar-default-link-hover-color: @navbar-default-link-color;
@navbar-default-link-active-bg: darken(@navbar-default-bg, 2%);
@navbar-default-link-active-color: white;
